@charset "UTF-8";  // -*- css -*-
@import "compass";
@import "solarized"; 
@import "common";

@import "back-to-top";

@import "key-accelerator";
@import "index-search";
@import "index-view";
@import "recipe-list";

@import "tag";
@import "loading";
@import "starred";

@import "shopping-cart";
@import "shopping-list";


@import "recipe";


/* shopping + tagging */
.cart-holder.sticky + .recipe > .tagging.sticky {
    top: 60px;
}

#full-search.sticky {
    position: sticky;
    top: 5px;
    z-index: 1000;
 // background: $page-bgcolor;
}
.cart-holder.sticky:not(.hidden) + section.recipes > #full-search.sticky {
    top: 60px;
}

@media only screen and (min-width:320px)  {
    /* smartphones, iPhone, portrait 480x320 phones */
}
@media  only screen and (min-width:481px)  {
    /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640
   wide. */
}
@media  only screen and (min-width:641px)  {
    /* portrait tablets, portrait iPad, landscape e-readers, landscape
   800x480 or 854x480 phones */
}
@media  only screen and (min-width:961px)  {
    /* tablet, landscape iPad, lo-res laptops ands desktops */
}
@media  only screen and (min-width:1025px) {
    /* big landscape tablets, laptops, and desktops */
}
@media  only screen and (min-width:1281px) {
    /* hi-res laptops and desktops */
}







.hidden {
    display: none !important;
    visibility: hidden;
}

.updating {
    animation: pulse 1s infinite;
    color: $red;
}

.paper-box {
    background: white;
    @include paper-box;
}

.hover-scale:hover {
    transition: 0.5s;
    transform: scale(1.5);
}

.flash-notice {
    padding: 1ex;
    @include paper-box();
    background: #ffeeee;
}


span[data-url] {
    text-decoration: underline;
    cursor: help;
}

span[data-url]:hover:before {
    text-decoration: none;
    cursor: default;
    content: "URL: " attr(data-url);
    font-family: monospace;
    white-space: nowrap;
    display: inline-block;
    padding: 0.5ex 1ex;
    position: absolute;
    left: 2em;
    right: 2em;
    background: white;
    border-radius: 5px;
    z-index: 1000;
    @include paper-box;
}


body {
    background-color: $page-bgcolor;
    padding: 5px;
    margin-bottom: 50px;
}



h1.title {
    position: relative;
    background: white;
    @include paper-box;
    padding: 0.75ex 1ex;
    text-align: center;
    font-size: xx-large;
    margin: 0;
    margin-bottom: 1ex;
    @include box-sizing(border-box);
    display: flex;
    
    a,span {
	color: black;
	text-decoration: none;
	flex-grow: 1;
    }
}




footer {
    font-size: smaller;
    border-top: 1px solid grey;
    padding: 5px 0;
    color: grey;
    * { color: grey; }

    a, span[data-url] { text-decoration: none; }
    a:hover, span[data-url]:hover { text-decoration: underline; }
    
    .kv {
	display: inline-block;
	& > span:first-child { font-variant: small-caps; }
    }
    .kv + .kv::before { content: " / "; }

    .tag {
	padding: 0.25ex 1ex;
	opacity: 0.5;
    }
}





@media (max-width: 410px) {
    html {
	font-size: 14px;
    }
}




//======================================================================
// Print
//======================================================================
// https://www.smashingmagazine.com/2015/01/designing-for-print-with-css/

@page  { 
    /* size: auto;   /* auto is the initial value */ 

    
    /* this affects the margin in the printer settings */ 
    size: A4;
    margin: 10mm 10mm 10mm 10mm;  

    @top-center {
	content: string(doctitle);
    }
    
}


@page :left {
    @bottom-left {
	content: counter(page);
    }
}

@page :right {
    @bottom-right {
	content: counter(page);
    }
}

@page :first {
    @top-center {
    }
}

@page :blank {
  @top-center { content: "This page is intentionally left blank." }
}

@media print { 
    // .recipe-preview { break-after: page; }

    html {
	background: inherit;
	font-size: 10pt;
    }
    body {
	background: inherit;
	color: inherit;
    }

    ul {
	list-style: square;
    }

    h1.title {
	string-set: doctitle content();
	border: none;
	@include box-shadow(none);
	background: inherit;
	color: inherit;
    }
    
    .web-only {
	display: none;
    }
}




/*
.nutrition {
    position: absolute;
    bottom: 0;
		width: 40%;
	h2 { display: none; }
	& > div {
	    table + table { display: none; }
	    table {
		display: block;
		@include box-shadow(none);
		border: none;
	    }
	    tr { display: inline-flex; }

	    td, th {
		display: inline-block;
		font-weight: normal;
		border: none;
		padding: 0;
		margin: 0;
		min-width: inherit !important;
	    }
	    
	    thead {
		th {
		    color: inherit;
		    background: inherit;
		    text-decoration: underline;
		}
		th:after {
		    content: ':';
		}
	    }
	    
	    tbody {
		th:after { content: ' '; }
		td:nth-of-type(1):after { content: ' '; }
		tr:after { content: ' / '; }
		tr:last-child:after { content: ''; }
		tr.nutrition-energy.calory:after { content: ' ('; }
		tr.nutrition-energy.joule:after { content: ') / '; }
	    }
	    
	}
    }
*/
