@charset "UTF-8";  // -*- css -*-
@import "compass"; 
@import "solarized";
@import "common";

//======================================================================
// Shopping list
//======================================================================

.shopping-list {
    max-width: 80ex;
    margin: 1ex auto;

    .title span {
	text-align: left;
    }
    
    table.recipes-summary {
	border-collapse: collapse;
	width: 100%;

	@include paper-box();
	background-color: $base3;
	
	thead {
	    background-color: $base03;
	    color: $green;
	}

	color: $base03;

	a {
	    @include a_block();
	    color: $base03;
	}


	th, td {
	    vertical-align: top;
	}
	th:nth-child(1),
	td:nth-child(1) {
	    width: 3ex;
	    text-align: right;
	    padding: 0.5ex 1ex;
	}
	th:nth-child(2),
	td:nth-child(2) {
	    padding: 0.5ex 1ex;
	    text-align: left;
	}
    }
    
    .ingredients-list {
	background-color: $base1;
	@include paper-box();
	
	[data-packaging         ] { display: none;                   }
	[data-packaging="frozen"] { display: inline; color: $blue;   }
	[data-packaging="canned"] { display: inline; color: $yellow; }
	[data-packaging="jar"   ] { display: inline; color: $orange; }

	dt {
	    background-color: white;
	    font-size: 150%;
	    padding: 0.5ex 1ex;
	}

	ul {
	    padding: 0;
	    margin-bottom: 1em;
	}

	li {
	    display: flex;
	    align-items: center;
	    margin: 5px 0;
	    height: 2em;
	}
	li.odd  { background-color: $base2; }
	li.even { background-color: $base3; }

	.ingredient-name {
	    color: $base03;
	    flex-grow: 1;
	    input { margin: 0 1ex; }
	    input:checked + span { text-decoration: line-through; }
	}

	.quantity-list {
	    display: inline-flex;;
	}
	.ingredient-quantity {
	    padding: 0.3ex 1ex;
	    color: $orange;
	    border-right: 1px solid grey;
	}
	.ingredient-quantity:last-of-type  { border-right: none; }
    }
}



@media (max-width: 410px) {
    .shopping-list {
	font-size: 12px;
	.ingredients-list {
	    dd { margin-left: 1ex; }
	}
    }
}
