$page-bgcolor   : #eeeeee;

$paper-shadow   : 0 2px 6px rgba(0, 0, 0, 0.3);
$paper-border   : 1px solid rgba(0, 0, 0, 0.3);
$paper-gap      : 1ex;
$selected-color : rgb(200, 0, 0);
$toggled-color  : rgb(0, 150, 0);
$hover-color    : rgb(80, 0, 0);
$hover-bgcolor  : rgb(242, 208, 21);

@mixin a_block {
    display: block;
    text-decoration: none;
    &:hover { text-decoration: underline; }
}

@mixin paper-box {
    @media screen {
	border: $paper-border;
	@include box-shadow($paper-shadow);
    }
}

@keyframes pulse {
    0% { box-shadow: 0 0 0 0    rgba(204,44,44, 0.6); }
   70% { box-shadow: 0 0 0 10px rgba(204,44,44, 0  ); }
  100% { box-shadow: 0 0 0 0    rgba(204,44,44, 0  ); }
}



@mixin user-interaction {
    outline: none;    

    &.selected {
	@include box-shadow($paper-shadow,
			    inset 0px -3px 0px 0px $selected-color);
    }

    &:active {
	@include text-shadow(2px 2px 2px rgba(0,0,0,.4));
    }

    &:hover,
    &:hover:before {
	background-color: mix($hover-bgcolor, $page-bgcolor, 20%);
    }

    &:hover {
	color: $hover-color;
    }
}
