@charset "UTF-8";  // -*- css -*-
@import "compass"; // $Id$

#back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.7);
    width: 50px;
    height: 50px;
    display: block;
    text-decoration: none;
    @include border-radius(35px);
    @include user-select(none);
    display: none;
    @include transition(all 0.3s ease);
    z-index: 10;
    
    i {
	color: #fff;
	margin: 0;
	position: relative;
	left: 16px;
	top: 13px;
	font-size: 19px;
	@include transition(all 0.3s ease);
    }
    &:hover {
	background-color: rgba(0, 0, 0, 0.9);    
	i { color: #fff; top: 5px; }
    }
}
