//======================================================================
// Index
//======================================================================


//
// Full search
//
#full-search .search-tab {
    .nav-link.category-type:before {
	border-color: $blue    transparent; display: block;    }
    .nav-link.category-origin:before {
	border-color: $violet  transparent; display: block;    }
    .nav-link.category-preparation:before {
	border-color: $green   transparent; display: block;    }
    .nav-link.category-profil:before {
	border-color: $magenta transparent; display: block;    }
    .nav-link.category-season:before {
	border-color: $yellow  transparent; display: block;    }
    .nav-link.category-source:before {
	border-color: $orange  transparent; display: block;    }
    .nav-link.category-unknown:before {
	border-color: $cyan    transparent; display: block;    }
}

#full-search .search-tab {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(11em, 1fr));
    grid-gap: 4px;
    margin-bottom: 1rem;

    font-size: 140%;
    @media only screen and (max-width: 440px)  {
	font-size: 110%;
    }

    .nav-link label {
	cursor: pointer;

        & input         + .toggler .fa-toggle-on  { display: none;
						    color: $toggled-color; }
	& input         + .toggler .fa-toggle-off { display: inline-block; }
	& input:checked + .toggler .fa-toggle-on  { display: inline-block; }
	& input:checked + .toggler .fa-toggle-off { display: none;         }
    }

    .nav-link {	
	@include paper-box();
	display: flex;
	//min-width: 11em;
	width: 100%;
	@include box-sizing(border-box);
	@include user-select(none);
	background-color: rgb(245, 255, 245);

	position: relative;

	&:before {
	      content: "";
	      position: absolute;
	      top: 0;
	      right: 0;
	      border-width: 16px 0 0 16px;
	      border-style: solid;
	      display: none;
	}
		
	&.selected {
	    @include box-shadow($paper-shadow,
				inset 0px -3px 0px 0px $selected-color);
	}

	& > *:active {
	    @include text-shadow(2px 2px 2px rgba(0,0,0,.4));
	}

	&:hover {
	    background-color: mix($hover-bgcolor, $page-bgcolor, 20%);
	}
	&:hover:before {
	    background-color: mix($hover-bgcolor, $page-bgcolor, 20%);
	}
	
	& > *:hover {
	    color: $hover-color;
	    //transform: scale(1.05);
	}

	& > label {
	    padding: 1ex 0.5em;
	    padding-left: 0.25em;
	}
    
	&  > a {	
	    color: black;
	    text-decoration: none;
	    outline: none;    
	    padding: 1ex 0.5em;
	    padding-right: 0.25em;
	    flex-grow: 1;

	    i {
		padding-right: 0.5ex;
	    }
	}

	&.disabled {
	    color: grey !important;
	    cursor: not-allowed !important;
	    @include text-shadow(none !important);
	    @include box-shadow(none !important);
	    transform: none;
	    * { color: grey !important;
		cursor: not-allowed !important;
		@include text-shadow(none !important);
		@include box-shadow(none !important);
		transform: none;
	      }
	}
    }
}


#full-search .search-tab-content {
    @include paper-box();
    background-color: rgb(245, 255, 245);
    margin-bottom: 1rem;
    margin-top: -0.5rem;
}


#full-search .search-tab-content {

    .search-category {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(9em, 1fr));
	font-size: 80%;
	@media only screen and (max-width: 440px)  {
	    font-size: 65%;
	}
	
	label {
	    @include text-shadow(2px 2px 2px rgba(0,0,0,.5));
	    padding: 1.2em 0.8ex;
	    margin: 2px;
	    text-align: center;
	    flex-basis: 0;
	    cursor: pointer;
	    border: 1px solid transparent;
	    white-space: nowrap;
	    
	    &:active {
		border: 1px solid $hover-bgcolor;
	    }
	    &:hover {
		background-color: rgba($hover-bgcolor, 0.2);
		color: $hover-color;
		border-radius: 1em;
		@include text-shadow(2px 2px 2px rgba(100,0,0,.5));
	    }
	    
	    input               { display: none }
	    input:checked + div { color: $selected-color; }
	    div                 { font-variant: small-caps; font-weight: bold;}
	    i                   { font-size: 400%; }
	}
    }
    


    #group-ingredients {
	.legend {
	    span {
		padding: 1ex 1em 1ex 1ex;
		white-space: nowrap;
	    }
	    .optgroup-category         { color: $red;    }
	    .optgroup-ingredient       { color: $blue;   }
	    .optgroup-ingredient-group { color: $violet; }
	    
	    display: block;
	    margin: 0.5ex;
	}
	
	label {
	    display: flex;
	    margin: 1ex;
	    align-items: center;
	    & > div:first-child { min-width: 4em; max-width: 4em; }
	    input, .selectize-control { flex-grow: 1; }
	}
	
	// Customize Selectize pluggin
	.selectize-dropdown, .selectize-input, .selectize-input input {
	    font-size: inherit; 
	    line-height: 125%;
	}
	
	// Drop down
	.selectize-control .selectize-dropdown-content {
	    // Optgroup
	    .optgroup-header {
		font-weight: bold;
		color: $base03;
	    }
	    .optgroup[data-group=category]         .optgroup-header {
		background: $red;
	    }
	    .optgroup[data-group=ingredient]       .optgroup-header {
		background: $blue;
	    }
	    .optgroup[data-group=ingredient-group] .optgroup-header {
		background: $violet;
	    }
	    
	    // Items
	    .group-category {
		border-left: 4px solid currentColor;
		color: $red !important;
	    }
	    .group-ingredient {
		border-left: 4px solid currentColor;
		color: $blue !important;
	    }
	    .group-ingredient-group {
		border-left: 4px solid currentColor;
		color: $violet !important;
	    }
	    
	}
	
	// Tags inside input control
	.selectize-control .selectize-input {    
	    & > div {
		color: $base3;
	    }
	    
	    .group-category {
		background: $red;
		border-color: darken($red, 10%);
		.remove { border-left-color: darken($red, 10%); }
	    }
	    .group-ingredient {
		background: $blue;
		border-color: darken($blue, 10%);
		.remove { border-left-color: darken($blue, 10%); }
	    }
	    .group-ingredient-group {
		background: $violet;
		border-color: darken($violet, 10%);
		.remove { border-left-color: darken($violet, 10%); }
	    }
	}
    }
    

    #group-favorite {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(9em, 1fr));
	font-size: 125%;
	@media only screen and (max-width: 440px)  {
	    font-size: 100%;
	}
	
	label {
	    @include text-shadow(2px 2px 2px rgba(0,0,0,.5));
	    padding: 1.2em 0.8ex;
	    margin: 2px;
	    text-align: center;
	    flex-basis: 0;
	    cursor: pointer;
	    border: 1px solid transparent;
	    white-space: nowrap;
	    
	    &:active {
		border: 1px solid $hover-bgcolor;
	    }
	    &:hover {
		background-color: rgba($hover-bgcolor, 0.2);
		color: $hover-color;
		border-radius: 1em;
		@include text-shadow(2px 2px 2px rgba(100,0,0,.5));
	    }
	    
	    input               { display: none }
	    input:checked + div { color: $selected-color; }
	    div                 { font-variant: small-caps; font-weight: bold;}
	}
    }
    
    #group-time {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	
	label {
	    padding: 1ex;
	    margin: 2px;
	    font-size: 140%;
	    text-align: center;
	    display: flex;
	    align-items: center;
	    
	    > div:first-child {
		margin-right: 10px;
		font-size: 200%;
	    }
	    
	    .value {
		font-family: monospace;
		font-size: x-large;
		z-index: -1;
	    }
	    .label {
		font-size: 80%;
		z-index: -1;
		color: grey;
		text-shadow: 0px 1px 0px rgba(255,255,255,.3),
	        0px -1px 0px rgba(0,0,0,.7);
		font-style: italic;
	    }
	}
    }
}
