
#view-selector {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  //grid-template-columns: repeat(auto-fill, minmax(20ex, 1fr));
    grid-gap: 4px;
    margin-bottom: 1rem;
    
    a {
	@include paper-box();
	background-color: rgb(245, 245, 255);
	color: black;
	text-decoration: none;

	font-size: 140%;
	@media only screen and (max-width: 440px)  {
	    font-size: 110%;
	}

	padding: 0.5ex 1ex;

	@include user-interaction;
    }
}
