@charset "UTF-8";  // -*- css -*-
@import "compass";
@import "common";

//
// Accelerator key
//
#key-accelerator {
    display: grid;
    grid-template-columns: repeat(13, minmax(1em, 1fr));
    grid-gap: 4px;

    margin-bottom: 1rem;
    
    a {
	box-sizing: border-box;
	border: 1px solid grey;
	@include border-radius(5px);
	@include paper-box;
	display: block;
	padding: 0.75ex 0.5ex;
	text-align: center;
	text-decoration: none;
	font-weight: bold;
	color: black;
	@include user-select(none);
	outline: none;
	background-color: rgb(255, 245, 245);
	&:active { border-color: $hover-bgcolor; }
	&:hover  { background-color: rgba($hover-bgcolor, 0.2); }
    }	
}

