$loading-spinner-base-size: 1em;
$white: rgb(255,0,0);
$off-white: rgba($white, 0.2);
$spin-duration: 1s;
$pulse-duration: 750ms;

@keyframes loading-spin {
    0%   { transform: rotate(0deg);   }
    100% { transform: rotate(360deg); }
}

@keyframes loading-pulse {	
    50% { background: $white; } 
}


.loading-spinner-circle {
    border-radius: 50%;
    width: $loading-spinner-base-size;
    height: $loading-spinner-base-size;
    border: .25rem solid $off-white;
    border-top-color: $white;
    animation: loading-spin $spin-duration infinite linear;
    &--double {
	border-style: double;
	border-width: .5rem;
    }
}

.loading-spinner-bar {
    display: inline-block;
    margin-left: $loading-spinner-base-size;
    margin-right: $loading-spinner-base-size;
    position: relative;
    width: ($loading-spinner-base-size / 4);
    height: $loading-spinner-base-size;
    background: $off-white;
    animation: loading-pulse $pulse-duration infinite;
    animation-delay: ($pulse-duration / 3);
    &:before, &:after {
	content: '';
	position: absolute;
	display: block;
	height: ($loading-spinner-base-size / 1.5);
	width: ($loading-spinner-base-size / 4);
	background: $off-white;
	top: 50%;
	transform: translateY(-50%);
	animation: loading-pulse $pulse-duration infinite;
    }
    &:before {
	left: -($loading-spinner-base-size / 2);
    }
    &:after {
	left: ($loading-spinner-base-size / 2);
	animation-delay: ($pulse-duration / 1.5);
    }
}


.loading {
    .loading-message {
	padding: 1ex;
	text-align: center;
    }
}
