//======================================================================
// Recipe listing
//======================================================================

.recipe-list {
    padding-left: 0;
    
    dt {
	@include paper-box;
	@include user-select(none);
	background-color: white;
	padding: 0.5ex 0;
	padding-left: 1ex;
	font-size: x-large;
	margin-top: 0.5em;
	margin-bottom: 0.75ex;
	// position: sticky; 
	// top: 0;
    }

    dd.dummy-expander {
	display: none;
    }
    
    dd.recipe-item + dd.recipe-item {
	border-top: 1px solid silver;
    }
    dd.recipe-item {
	display: flex;
	margin: 0;
	align-items: center;
	
	& > * + * { margin-left: 0.5ex; }
	
	img {
	    max-height: 1em;
	    border-radius: 2px;
	}
	
	.recipe-name {
	    padding: 0.75ex 1ex;
	    flex-grow: 1;
	    white-space: nowrap;
	    overflow: hidden;
	    text-overflow: ellipsis;
	    text-decoration: none;
	}

	.picture-preview {
	    min-width: 2.5em;
	    display: flex;
	    justify-content: center;
	    img { max-width: 2em; }
	}
	
	.portion, .total-time, .preparation-time {
	    font-family: monospace;
	}
	
	.tags             { white-space: nowrap; }
	.portion          { min-width: 8ex;  }
	.total-time       { min-width: 11ex; }
	.preparation-time { min-width: 8ex;  }

    	.tag.robot-name      { display: none; }
	.tag.recipe-source   { display: none; }
	
	&:hover {
	    background-color: white;
	    img {
		transform: scale(6);
		transform-origin: right 50%;
		border-radius: 4px;
		transition: 0.5s;
		transition-timing-function: ease;
		z-index: 150;	
	    }
	}
    }    
}


.recipe-list.river-flow {
    display: flex;
    flex-wrap: wrap;

    &::after {
	content: '';
	flex-grow: 999999999;
    }

    dt {
	 width: 100%; 
    }

    dd.dummy-expander {
	display: block;
	flex-grow: 999999999;
    }

    dd.recipe-item:hover img {
	transform: none;
    }

    dd.recipe-item {
	position: relative;
	height: 150px;
	
	border: 1px solid black;
	margin: 5px;

	overflow: hidden;

	flex-grow: 1;
	
	* { margin: 0; }
	
	.starred {
	    position: absolute;
	    bottom: 5px;
	    right: 5px;
	}
	
	.tags             { display: none; }
	.portion          { display: none; }
	.total-time       { display: none; }
	.preparation-time { display: none; }
	.updated-time     { display: none; }
	
	.recipe-name {
	    position: absolute;
	    top: 0;
	    left: 0;
	    text-overflow: ellipsis;
	    width: 100%;
	    color: black;
	    background: rgba(255, 255, 255, 0.4);
	    box-sizing: border-box;
	}
	
	.picture-preview {
	    height: 100%;
	    width: 100%;
	    img {
		height: 100%;
		object-fit: cover;
		max-height: 100%;
		max-width: 100%;
		min-width: 100%;
		z-index: inherit;
	    }
	}
    }    
}
.recipe-list.river-flow.rigid {
    dd {
	width: 225px;
    }
}


@media (max-width: 800px) {  // Galaxy Note 10.1
    .recipe-list {
	.tags { font-size: 75%; }
    }
}

@media (max-width: 600px) {
    .recipe-list {
	.tags .tag.robot-name { display: none; }
	.portion { display: none; }
    }
}


@media (max-width: 410px) {
    .recipe-list {
	.preparation-time { display: none; }
	.tags { display: none; }
    }
}
