@charset "UTF-8";  // -*- css -*-

//======================================================================
// Recipe
//======================================================================

.kuiristo-settings {
    font-weight: bold;
    white-space: nowrap;
    .icon-speed {
	@include transform(rotate(20deg));
    }
}

.recipe-preview {
    display: flex;
    justify-content: center;
    margin-bottom: 1em;
    
    & > .holder {
	position: relative;
	display: inline-block;
	max-width: 100%;
	@include paper-box;
	@include box-sizing(border-box);
    }

    .recipe-annotation {
	position: absolute;
	right: 0.5ex;
	bottom: 0.5ex;
	.starred {
	    @include text-shadow(0 0 0.3em rgba(200,200,200, 0.75));
	    &:hover {
		transform-origin: right bottom;
		transition: 0.5s;
		transform: scale(1.5);
	    }
	}
    }
    
    .recipe-tags {
	position: absolute;
	right: 0.5ex;
	top: 0.5ex;
    }
    
    .recipe-times {
	display: flex;
	flex-direction: column;
	position: absolute;
	top: 0.5ex;
	left: 0.5ex;
	
	& > div {
	    text-align: center;
	    width: 4rem;
	}
	
	.icon {
	    font-size: 2.5rem;
	    color: silver;
	    display: block;
	    @include text-shadow(0px 1px 0px rgba(0,0,0,.5));
	    
	}
	span {
	    font-weight: bold;
	    @include text-shadow(0 0 0.3em rgba(200,200,200, 0.75));
	}
    }

    .recipe-ratings {
	position: absolute;
	bottom: 0.5ex;
	left: 0.5ex;
	font-size: 1.4rem;
	color: #444444;
    }
    
    .recipe-picture {
	max-width: 100%;
	max-height: 80vh;
	margin: 0 auto;
	display: block;
    }    
}

.recipe-cooking {
    h2 { margin: 0 0 1ex 0; }
    dl { margin: 0; }

    dt { margin: 1em 0 0.5ex 0;
         font-size: larger;
	 font-weight: bold;
       }
    
    display: flex;
    & > section {
	margin: 0.5ex;
    }

    .recipe-steps { flex-grow: 1; }
    .recipe-ingredients { min-width: 30ex; }

}

.recipe-steps {        
    dd {
	margin: 0;
    }
    
    ol {
	list-style: none;
	padding-left: 0;
	
	li {
	    padding: 0.75ex 1ex;
	    background-color: white;
	    @include paper-box;
	    padding-left: calc(3em + 10px);
	    position: relative;
	    min-height: calc(2em + 1.5ex);
	    text-align: justify;
	}

	
	li:before {
	    content: attr(data-step-index);
	    font-size: 2em;
	    color: silver;
	    position: absolute;
	    left: 10px;
	    top: 0;
	    width: 1em;
	    text-align: right;
	}

	li:hover {
	    border-color: gold;
	}
	li:hover:before {
	    color: gold;
	}

	
	li + li {
	    margin-top: 1ex;
	}
    }
}



.recipe-ingredients {    
    dd {
	margin: 0;
    }

    ul {
	list-style: none;
	padding-left: 0;


	li {
	    padding: 0.5ex 0.75em;
	    padding-left: 1em;
	    position: relative;
	}
	li + li {
	    border-top: 1px solid silver;
	}
	.preparation {
	    display: block;
	    font-size: smaller;
	    color: grey;
	    margin-left: 1em;
	}
	.optional {
	    font-size: smaller;
	    position: absolute;
	    left: 0;
	}
    }
}


.recipe-information {
    & > ul {
	list-style: none;
	padding: 0;
    }
    & > ul > li {
	margin-bottom: 1ex;
	
	 .text {
	     @include paper-box;
	     padding: 0.5ex 1ex;
	     background-color: white;
	     text-align: justify;
	     p { margin: 0.5ex 0; }
	     ul { padding-left: 1.2em; }
	     li { margin: 0.5ex 0; list-style: square; }
	 }
	 .label {
	     display: inline-block;
	     font-weight: bold;
	     color: white;
	     padding: 0.5ex 1em;
	     @include border-top-radius(5px);
	     border: $paper-border;
	     border-bottom: none;
	     min-width: 16ex;
	 }
    }
    
    .info-tip          .label { background-color: #5cb85c; }
    .info-variation    .label { background-color: #5bc0de; }
    .info-beverage     .label { background-color: #f0ad4e; }
    .info-background   .label { background-color: #428bca; }
    .info-serving_size .label { background-color: #c881bd; }
}


.recipe-nutrition {
    & > div {
	display: flex;
	flex-wrap: wrap;	
    }
    
    table {
	border-collapse: collapse;
	border: 1px solid black;
	@include paper-box;
	margin-right: 1em;
	margin-bottom: 1em;
    }
    table:last-child {
	margin-right: 0;
    }

    th, td {
	border-top: 1px solid grey;
	padding: 1ex;
    }
    th {
	text-align: left;
	vertical-align: top;
    }
	
    tbody td:nth-of-type(1) {
	text-align: right;
	padding-right: 0;
	min-width: 5ex;
    }

    thead th {
	color: white;
	background-color: grey;
    }
}




@media (max-width: 410px) {
    .recipe-cooking {
	flex-direction: column;
    }
    
    .recipe-preview {
	.recipe-ratings {
	    left: inherit;
	    right: 0.5ex;
	}
	.recipe-annotation {
	    top: 2.5em;
	    bottom: inherit;
	}
    }    
    .nutrition {
	table { width: 100%; }
    }    
}


@media print { 
    .recipe {
	h2 > span:first-child {
	    display: none !important;
	}
    }
    

    .recipe-steps {
	h2, dt, ol li {
	    padding-left: 1.3cm;
	}
	ol li {
	    background: inherit;
	    min-height: inherit;
	}
	ol li + li {
	    margin-top: 0.5ex;
	}
    }

    .recipe-information {
	.label, .text {
	    color: inherit !important;
	    background: inherit !important;
	    border: none !important;
	    @include box-shadow(none !important);
	    padding: 0 !important;
	}
	.label > span:first-child {
	    display: none !important;
	}
	
    }

    .recipe-nutrition {
	h2 { display: none; }
	& > div {
	    table + table { display: none; }
	    
	    tr { display: inline-flex; }
	    tr:after { content: ' / '; }
	    tr:last-child:after { content: ''; }
	    tr.nutrition-energy.calory:after { content: ' ('; }
	    tr.nutrition-energy.joule:after { content: ') / '; }
	    
	    td, th { display: inline-block; font-weight: normal; }
	}
    }
}
