@charset "UTF-8";  // -*- css -*-
@import "compass"; // $Id$
@import "solarized"; 
@import "common";



.cart-holder {
    @include paper-box;
    background: white;
    margin-bottom: 1ex;
    z-index: 2000;

    &.sticky {
	position: sticky;
	top: 0.5ex;
    }
}
 
details.cart-holder {
    summary {
	cursor: pointer;
	padding: 1ex;
    }
    summary::-webkit-details-marker {
	display:none;
    }
    summary:before {
	content: "\25b6  ";
	@include user-select(none);
	width: 1.5em;
    }

    &[open] summary:before {
	content: "\25bc  ";
	@include user-select(none);
    }

    summary:hover {
	background-color: rgba($hover-bgcolor, 0.2);
	color: $hover-color;	
    }
}



.cart-banner {
    display: flex;
    font-size: 150%;
    outline: none;
    line-height: 1.15;
    white-space: nowrap;
    
    .cart-summary {
	flex-grow: 1;
    }
    
    .cart-checkout {
	flex-shrink: 0;
	cursor: pointer;
	margin: 0 1ex;
	&:hover {
	    transition: 0.5s;
	    transform: scale(1.5);
	}
    }
}



.cart-list {
    min-width: 20em;
    max-width: 40em;
    @include paper-box;
    background-color: #eeffff;
    padding: 1ex;
    overflow-y: scroll;
    position: fixed;
    right: calc( 1ex / 1.5 );
    top: calc( (1em + 2ex) * 1.5 * 1.15 + 2px + 0.5ex );
}
.cart-item + .cart-item {
    margin-top: 1ex;
}

.cart-item {
    padding: 0.5ex;
    display: flex;
    @include user-select(none);
    
    .item-entry {
	display: flex;
	flex-grow: 1;
	align-items: center;
	justify-content: center;
	white-space: nowrap;
	text-decoration: none;
	color: inherit;
	&:hover .item-title {
	    color: $blue;
	}

	.item-picture {
	    flex-shrink: 0;
	    width: 2em;
	    display: flex;
	    align-items: center;
	    justify-content: center;
	    
	    img {
		max-height: 1em;
		max-width: 2em;
		border-radius: 4px;
	    }

	    margin-right: 1ex;
	}


	.item-spacer {
	    margin: 0 1ex;
	    flex-grow: 1;
	    border-bottom: 1px dotted currentColor;
	    min-width: 2em;
	}
    }
    .item-count {
	width: 2ex;
	margin: 0 1ex;
	text-align: right;
	flex-shrink: 0;
	flex-grow: 0;
	font-family: monospace;
	font-size: 120%;
    }

    i.fas, i.far { width: 1.5em;
		   cursor: pointer;
		   text-align: center; }
    i.fa-plus  { color: $green;      }
    i.fa-minus { color: $red;        }
}

.cart-empty {
    align-items: center;
    justify-items: center;
    margin-top: 1em;
    text-align: right;
    width: 100%;
    background-color: #ffeeee;
    padding: 1ex;
    box-sizing: border-box;
    border-radius: 3px;
    cursor: pointer;
    border: 1px solid #eedddd;
    i.fas, i.far {
	margin-left: 1em;
    }
    
    &:hover {
	color: $hover-color;
	border-color: $hover-bgcolor;
	background-color: rgba($hover-bgcolor, 0.2);
    }
}


.cart-item-add {
    cursor: pointer;
    white-space: nowrap;
    
    &:after {
	color: rgba($red, 0.8);
	content: attr(data-count);
	font-size: smaller;
	vertical-align: sub;
    }
}

