.starred {
    font-size: larger;
    .fas.fa-star { display: none;         color: $red;   }
    .far.fa-star { display: inline-block; color: $base03 }
}
.starred.selected {
    .fas.fa-star { display: inline-block; }
    .far.fa-star { display: none;         }
}
