@charset "UTF-8";  // -*- css -*-
@import "compass"; // $Id$
@import "common";
@import "solarized"; 



.tag {
    display: inline-block;
    padding: 0.5ex 1ex;
    font-weight: bold;
    color: $base3;
    background-color: $base00;
    @include border-radius(5px);
    font-size: smaller;
    
    &.on {
	color: $base03;
	box-shadow: inset 0px -3px 0px 0px $base02;
    }
}


// Group of categories for recipes
.tag.recipe-type          { background-color: $blue;    }
.tag.recipe-origin        { background-color: $violet;  }
.tag.recipe-preparation   { background-color: $green;   }
.tag.recipe-profil        { background-color: $magenta; }
.tag.recipe-season        { background-color: $yellow;  }
.tag.recipe-source        { background-color: $orange;  }
.tag.recipe-unknown       { background-color: $cyan;    }

// Group of categories for ingredients
.tag.ingredient-animal    { background-color: $red;     }
.tag.ingredient-vegetal   { background-color: $green;   }
.tag.ingredient-liquid    { background-color: $blue;    }
.tag.ingredient-product   { background-color: $yellow;  }
.tag.ingredient-feculent  { background-color: $violet;  }
.tag.ingredient-unknown   { background-color: $cyan;    }

// Robot name
.tag.robot-name           { background-color: $cyan;    }




.tagging {
    padding: 1ex;
    text-align: justify;

    .tag {
	cursor: pointer;
	margin: 0.5ex;
    }
    .tag:hover .close {
	color : red; 
    }

    &.sticky {
	position: sticky;
	top: 1ex;
	z-index: 100;	
	border-radius: 5px;
	background-color: $page-bgcolor;
        margin: 1ex;
    }
}
