<%# -*- html -*- %>

<a href="javascript:" id="back-to-top">
  <i class="fas fa-chevron-up"></i>
</a>
<script>
// Show the back-to-top arrow if scrolled more than 200px
$(window).scroll(function() {
    if ($(this).scrollTop() >= 200) { $('#back-to-top').fadeIn(200);  }
    else                            { $('#back-to-top').fadeOut(200); }
});

// When arrow is clicked scroll to top of body
$('#back-to-top').click(function() {    
    $('body,html').animate({ scrollTop : 0 }, 500);
});
</script>
