<%# -*- html -*- %>

<% if view&.dig(:visible) != false %>
<div id="view-selector">
  <a href="#" data-view="" class="selected">
    <i class="fas fa-fw fa-list"></i> Liste
  </a>
  <a href="#" data-view="river-flow">
    <i class="fas fa-fw fa-th-large"></i> Vignettes
  </a>
</div>

<script>
(function() {
var root       = $('#view-selector');
var allClasses = $('a[data-view]', root)
                     .map(function() { return $(this).data('view'); })
                     .toArray().join(' ');

$('a[data-view]', root).click(function(evt) {
    evt.preventDefault();
    var view = $(this).data('view') || '';
    $('.recipe-list').removeClass(allClasses)
                     .addClass(view);
    $(this).siblings().removeClass('selected');
    $(this).addClass('selected');
});
})();
</script>
<% end %>
