<%# -*- html -*- %>

<% if search&.dig(:visible) != false %>
<script>
  $USERS       = <%= (users || {}).to_json %>;

  $FAVORITES   = <%= favorites.to_json %>;
  Object.keys($FAVORITES).forEach(function(key,index) {
    $FAVORITES[key] = new Set($FAVORITES[key]);
  });

  $INGREDIENTS = <%= ingredients %>;
  Object.keys($INGREDIENTS.recipes).forEach(function(key) {
    $INGREDIENTS.recipes[key] = new Set($INGREDIENTS.recipes[key]);
  });
</script>

<form id="full-search"
      class="<%= 'sticky' if search&.dig(:sticky) == true %>"
      >
  <nav class="search-tab">
    <div class="nav-link">
      <a href="#group-time">
	<i class="far fa-clock"></i>
	Temps
      </a>
      <label>
	<input hidden type="checkbox"
	       name="group-selector" value="time">
	<span class="toggler">
	  <i class="fas fa-fw fa-toggle-off"></i>
	  <i class="fas fa-fw fa-toggle-on "></i>
	</span>
      </label>
    </div>
    <div class="nav-link">
      <a href="#group-ingredients">
	<i class="fab fa-apple"></i> 
	Ingrédients
      </a>
      <label>
	<input hidden type="checkbox"
	       name="group-selector" value="ingredients">
	<span class="toggler">
	  <i class="fas fa-fw fa-toggle-off"></i>
	  <i class="fas fa-fw fa-toggle-on "></i>
	</span>
      </label>
    </div>
    <% kategories.each {|type, title, iconclass, entries| %>
    <div class="nav-link category-<%= type || 'unknown' %>">
      <a href="#group-<%= type %>">
	<i class="<%= iconclass %>"></i>
	<%=h title %>
      </a>
      <label>
	<input hidden type="checkbox"
	       name="group-selector" value="<%= type %>">
	<span class="toggler">
	  <i class="fas fa-fw fa-toggle-off"></i>
	  <i class="fas fa-fw fa-toggle-on "></i>
	</span>
      </label>
    </div>
    <% } %>

    <% if users&.size > 0 %>
    <div class="nav-link">
      <a href="#group-favorite">
	<i class="fas fa-star"></i> 
	Favoris
      </a>
      <label>
	<input hidden type="checkbox"
	       name="group-selector" value="favorite">
	<span class="toggler">
	  <i class="fas fa-fw fa-toggle-off"></i>
	  <i class="fas fa-fw fa-toggle-on "></i>
	</span>
      </label>
    </div>
    <% end %>
  </nav>
  
  <div class="search-tab-content hidden">
    <div id="group-time" class="search-tab-pane hidden">
      <label>
	<div><i class="icon icon-preparation-time"></i></div>
	<div>
	  <div class="value">n/a</div>
	  <input type="range" name="time-active"
		 data-ladder="<%= TIME_LADDER[:active].join(',') %>"
		 value="<%= TIME_LADDER[:active].size %>"
		 min="1" max="<%= TIME_LADDER[:active].size %>">
	  <div class="label">Temps de préparation</div>
	</div>
      </label>
      <label>
	<div><i class="icon icon-total-time"></i></div>
	<div>
	  <div class="value">n/a</div>
	  <input type="range" name="time-total"
		 data-ladder="<%= TIME_LADDER[:total].join(',') %>"
		 value="<%= TIME_LADDER[:total].size %>"
		 min="1" max="<%= TIME_LADDER[:total].size %>">
	  <div class="label">Temps total</div>
	</div>
      </label>
    </div>

    <div id="group-ingredients" class="search-tab-pane hidden">
      <div class="legend">
	<span class="optgroup-category">■ Catégorie</span>
	<span class="optgroup-ingredient-group">■ Groupement d'ingrédients</span>
	<span class="optgroup-ingredient">■ Ingrédient précis</span>
      </div>
      <label>
	<div>Avec</div>
	<input name="ingredient-with" type="search"
	       placeholder="Ingrédient ou catégorie">
      </label>
      <label>
	<div>Sans</div>
	<input name="ingredient-without" type="search"
	       placeholder="Ingrédient ou catégorie">
      </label>
      
    </div>

    <% if users&.size > 0 %>
    <div id="group-favorite" class="search-tab-pane hidden">
      <% users.each {|id, o| %>
      <label>
	<input type="checkbox" name="favorite" value="<%= id %>">
	<div><%=h o[:nickname] %></div>
      </label>
      <% } %>
    </div>
    <% end %>
    
    <% kategories.each {|type, title, iconclass, entries| %>
    <div id="group-<%= type %>" class="search-tab-pane search-category hidden">
      <% entries.each {|id, name, icon| %>
      <label>
	<input type="checkbox" name="<%= type %>" value="<%= id %>">
	<div>
	  <i class="<%= icon %>"></i>
	  <div><%=h name %></div>
	</div>
      </label>
      <% } %>
    </div>
    <% } %>
  </div>
</form>


<script src="<%= to('/index-search.js') %>"></script>
<% end %>
