<%# -*- html -*- %>

<% if header&.dig(:visible) != false %>
<h1 class="title"
    style="display: flex; 
	   flex-wrap: wrap;
	   justify-content: space-between;">
  <span><%=h NAME %></span>
  <% if count = stats.dig(:recipe, :count) %>
  <span>(<%= count %> recettes)</span>
  <% end %>
</h1>
<% end %>
