<%# -*- html -*- %>

<% if key_accelerator&.dig(:visible) != false %>
<nav id="key-accelerator">
<% ('A'..'Z').each {|key| %>
  <a class="nav-link <%= 'disabled' if !recipes.include?(key) %>"
     href="#<%= key %>"><%= key %></a>
<% } %>
</nav>

<script>
// When key acceleratoir is clicked scroll to top of element
$('#key-accelerator').on('click', 'a.nav-link', function(evt) {
    evt.preventDefault();
    var elt = $(this).attr('href');
    $('html,body').animate({ scrollTop : $(elt).offset().top }, 500);
});
</script>
<% end %>
