<%# -*- html -*- %>
<%# Using relative URL make it easy for wget --convert-links %>

<% source = Kuiristo.source(recipe[:source]) %>
   
  <<%= elt %> class="recipe-item"
      data-id="<%= recipe[:source] %>/<%= recipe[:id] %>" 
      data-idhash="<%= recipe_relpath(recipe[:source], recipe[:id]) %>" 
      data-source="<%= recipe[:source] %>"
      data-recipe="<%= recipe[:id] %>"
      data-robot="<%= recipe[:robot].join(' ') %>"
      data-categories="<%= ( recipe[:categories] + [ source::NICKNAME ]
		           ).compact.join(' ') %>"
      data-time-total="<%= recipe[:time_total] %>"
      data-time-active="<%= recipe[:time_active] %>"
      <% if recipe[:updated] %>
      data-updated="<%= recipe[:updated].to_i %></div>"
      <% end %>

   >

    <% if recipe[:updated] %>
    <div class="updated-time"><%= recipe[:updated].strftime('%F') %></div>
    <% end %>
    
    <a class="recipe-name"
       href="recipe/<%= recipe_relpath(recipe[:source], recipe[:id]) %>.html">
      <%= recipe[:name] %>
    </a>
    
    <div class="tags">
      <% # XXX: Dirty hack to only keep one of semi-vegetarian/vegetarian/vegan
	 # XXX: This heavily rely on database ordering and know keys
	 veglist = VEGTAGS & recipe[:categories]
	 veglist.pop
      %>
      <% recipe[:categories].reject {|cat| veglist.include?(cat) }
	                    .each   {|cat| info = categories[cat] %>
      <span class="tag recipe-<%= info[:group] || 'unknown' %>"
	    data-id="<%= cat %>"
	    >
	<%= info[:name] %>
      </span>
      <% } %>

      <% recipe[:robot].each {|name| %>
      <span class="tag robot-name"><%= name %></span>
      <% } %>

      <span class="tag recipe-source"
	    data-id="<%= source::NICKNAME %>">
	<%= source::NAME %>
      </span>
    </div>

    <div class="picture-preview">
      <img
	<% if lazy %>
	src="recipe.svg"
	<% end %>
	<% image, sizes, srcset = recipe[:image] %>
	<% if sizes && srcset %>
	sizes="<%= sizes %>"
	<%= 'data-' if lazy %>srcset="<%= srcset.map {|i|
				  "picture/#{img_relpath(i)} #{i[:width]}w" }.join(', ') %>"
	<% end %>
	<% if image %>
        <%= 'data-' if lazy %>src="<%= "picture/#{img_relpath(image)}" %>"
	<% end %>
	/>
    </div>
    
    <span class="total-time">
      <i class="icon icon-total-time"></i>
      <%= str_recipe_time(recipe[:time_total], :nosec) %>
    </span>
    <span class="preparation-time">
    <i class="icon icon-preparation-time"></i>
    <%= str_recipe_time(recipe[:time_active], :nosec) %>
    </span>
    <span class="portion">
      <i class="icon icon-portion"></i>
      <%= recipe[:portion] %>
    </span>
    
  </<%= elt %>>
