<%# -*- html -*- %>

<section class="recipes">
<% if $config.dig(:web, :index, :back_to_top)&.include?(:button) != false %>
<%= erb :_back_to_top                              %>
<% end %>


<%= erb :_index_header,          :locals => locals %>
<%= erb :_index_key_accelerator, :locals => locals %>
<%= erb :_index_view,            :locals => locals %>
<%= erb :_index_search,          :locals => locals %>


<dl class="recipe-list">
  <% if Hash === recipes %>
  <%# Recipe grouping display %>
  
  <% recipes.each {|key, grp| %>
  <dt class="accel-key" id="<%= key %>"
      data-count="<%= grp.count %>"
      >
    <%= key %>
  </dt>  
  <% grp.each {|recipe| %>
  <%= erb :_recipe_item, :locals => {
        elt: 'dd', recipe: recipe, categories: categories, lazy: lazy } %>
  <% } %>
  <dd class="dummy-expander"></dd>
  <% } %>

  <% else %>
  <%# List display %>

  <% recipes.each {|recipe| %>
  <%= erb :_recipe_item, :locals => {
        elt: 'dd', recipe: recipe, categories: categories, lazy: lazy } %>
  <% } %>

  <% end %>
</dl>


<%= erb :_index_footer,          :locals => locals %>

</section>


<% if $config.dig(:web, :index, :back_to_top)&.include?(:accel_key)  == true %>
<script>
$('dl.recipe-list dt.accel-key').css('cursor', 'pointer').click(function() {
    $('body,html').animate({ scrollTop : 0 }, 500);
});
</script>
<% end %>

<% if lazy %>
<script>
$('.recipe-list .recipe-item[data-source][data-recipe] img')
    .lazy({ visibleOnly: true });
</script>
<% end %>

<% if !is_crawler? %>
<%   if is_authenticated? %>
<script src="<%= to('/starred.js') %>"></script>
<%   end %>
<script src="<%= to('/shopping-cart.js') %>"></script>
<% end %>
