<%# -*- html -*- %>

<link rel="stylesheet"
      href="<%= to('/style/ingredients-editing.css') %>"/>


<style>
  .categories .tag { display: none; }
  .categories .tag { cursor: pointer; }
  .categories .tag { margin: 2px; }
  .name { width: 15em; }
</style>

<table id="ingredients-editing">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Profile</th>
      <th>Shopping</th>
      <th>Catégorie</th>
    </tr>
  </thead>
  <tbody>
    <% ingredients
       .each {|id:, name:, categories:, profil:, shopping:, **o| %>
    <tr data-ingredient="<%= id %>">
      <td>
	<%= id %>
      </td>

      <td class="name">
	<%= name %>
      </td>

      <td class="profil">
	<select>
	  <% profils.each {|k, v| %>
	  <option value="<%= k || '-' %>" <%= 'selected' if k == profil %>>
	    <%= v %>
	  </option>
	  <% } %>
	</select>
      </td>

      <td class="shopping">
	<select>
	  <option value="-" <%= 'selected' if shopping.nil? %>>
	    n/a
	  </option>
	  <% cat_shopping.each {|k, v| %>
	  <option value="<%= k || '-' %>" <%= 'selected' if k == shopping %>>
	    <%= v[:name] %>
	  </option>
	  <% } %>
	</select>
      </td>

      <td class="categories">
	<input type="button" value="+">
	<% caton = (categories||'').split(',').map {|e| e.to_i } %>
	<% cat_ingredient.each {|i, k| %>
	<div class="tag <%= 'on' if caton.include?(i) %> <%= "ingredient-#{k[:group] || 'unknown'}" %>" data-id="<%= i %>">
	  <%= k[:name] %>
	  <span class="close">&times;</span>
	</div>
	<% } %>
      </td>
    </tr>
    <% } %>
  </tbody>
</table>


<script>
    $('#ingredients-editing').on('click', '.categories .tag', function(evt) {
	var me  = $(this);
	var cid = $(this).attr('data-id');
	var iid = $(this).closest('tr').attr('data-ingredient');
	var on  = $(this).hasClass('on');
	var url = iid;
	
	me.addClass('updating').prop('disabled', true);
	$.post(url, { op: on ? '-' : '+', category: cid }).done(function() {
	    me.toggleClass('on');
	    me.removeClass('updating').prop('disabled', false);
	});
    });


    $('#ingredients-editing').on('click', '.categories .tag .close', function(evt) {
	var me  = $(this).closest('.tag');
	var cid = me.attr('data-id');
	var iid = me.closest('tr').attr('data-ingredient');
	var on  = me.hasClass('on');
	var url = iid;
	
	$.post(url, { op: '-', category: cid }).done(function() {
	    me.removeClass('on');
	});
    });

    $('#ingredients-editing').on('change', '.profil select', function(evt) {
	var me  = $(this);
	var iid = me.closest('tr').attr('data-ingredient');
	var pfl = me.val();
	var url = iid;
	me.addClass('updating').prop('disabled', true);
	$.post(url, { profil: pfl }).done(function() {
	    me.removeClass('updating').prop('disabled', false);
	});
    });

    $('#ingredients-editing').on('change', '.shopping select', function(evt) {
	var me  = $(this);
	var iid = me.closest('tr').attr('data-ingredient');
	var shp = me.val();
	var url = iid;
	me.addClass('updating').prop('disabled', true);
	$.post(url, { shopping: shp }).done(function() {
	    me.removeClass('updating').prop('disabled', false);
	});
    });

    $('#ingredients-editing').on('click', '.categories input', function(evt) {
	$(this).closest('.categories').toggleClass('active');
    });

</script>
