<!DOCTYPE html>
<html 
  data-kuiristo-root="<%= to('/') %>"
  <% if ruser %>
  data-kuiristo-user="<%= ruser %>"
  <% end %>
  >

  <head>
    <meta charset="utf-8"> 

    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
    <meta name="theme-color" content="#F5F5FF"/>

    <% if @title %>
    <title><%= @title %></title>
    <% end %>

    <link rel="manifest" href="<%= to('/manifest.json') %>">

    <script type="text/javascript"
	    src="<%= to('/jquery-3.4.1.min.js') %>">
    </script>

    <script type="text/javascript"
	    src="<%= to('/jquery.lazy/jquery.lazy.min.js') %>">
    </script>
    
    <link rel="stylesheet"
	  href="<%= to('/normalize/normalize.css') %>"/>

    <link rel="stylesheet"
	  href="<%= to('/font-awesome/css/all.min.css') %>"/>


    <script type="text/javascript"
	    src="<%= to('/selectize/dist/js/standalone/selectize.min.js') %>">
    </script>
    
    <link rel="stylesheet" href="<%= to('/selectize/dist/css/selectize.css') %>"/>
    
    <link rel="stylesheet"
	  href="<%= to('/icomoon.css') %>"/>
    
    <link rel="stylesheet"
	  href="<%= to('/style/main.css') %>"/>
  </head>
  <body>

    <% if flash[:notice] %>
    <div class="flash-notice">
      <%= flash[:notice] %>
    </div>
    <% end %>

 <%#= render "layouts/navbar" %>




<%= yield %>

</body>
</html>
