<%# -*- html -*- %>

<section>
  <header class="paper-box"
	  style="text-align: center; margin-bottom: 1em;">
    <h1>
      <img style="vertical-align: bottom; 
		  max-height: 1em; margin-right: 0.1ex;"
	   src="<%= to('/recipe.svg') %>">
      <span>Bienvenu sur Kuiristo</span>
    </h1>
    
  </header>

  <div class="paper-box" style="padding: 1ex;">
    <form method="POST">
      <% if current %>
      <button type="submit" name="action" value="logout">
	<i class="fas fa-fw fa-sign-out"></i> Se deconnecter
      </button>
      
      <% else %>
      <select name="user">
	<% users.each {|id:, nickname:, **o| %>
	<option value="<%= id %>"
		<%= 'selected' if current == id %>
		><%=h nickname %></option>
	<% } %>
      </select>    
      
      <button type="submit" name="action" value="login">
	<i class="fas fa-fw fa-sign-in"></i> Se connecter
      </button>
      
      <% end %>
    </form>
    

    <form method="POST">
      <% if session['editing'] == 'true' %>
      <button type="submit" name="action" value="editing-off">
	<i class="fas fa-fw fa-pencil-square-o"></i> 
	Supprimer le mode edition
      </button>
      <% else %>
      <button type="submit" name="action" value="editing-on">
	<i class="fas fa-fw fa-pencil-square-o"></i> 
	Activer le mode edition
      </button>
      <% end %>
    </form>
  </div>

</section>
