<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"> 

    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">

    <% if @title %>
    <title><%= @title %></title>
    <% end %>

    <style>
      <% [#'/public/normalize-7.0.0/normalize.css',
           '/public/style/shopping-list.scss'
	 ].each {|file| %>
      <%= scss File.read(settings.root + file) %>
      <% } %>
    </style>
    
  </head>
  <body>

    <%= yield %>

  </body>
</html>
