<%# -*- html -*- %>

<article class="recipe"
	 data-source="<%= recipe[:source] %>"
	 data-recipe="<%= recipe[:id] %>"
	 data-id="<%= recipe[:source] %>/<%= recipe[:id] %>"
	 data-idhash="<%= recipe_relpath(recipe[:source], recipe[:id]) %>" 
	 >

  <h1 class="title">
    <a href="<%= to('/') %>">
      <%= recipe[:name] %>
    </a> 
  </h1>

  <section class="recipe-preview">
    <div class="holder">
      <div class="recipe-annotation"></div>
      
      <div class="recipe-tags">
	<% if VEGLIST.include?(profil[0]) %>
	<span class="tag recipe-profil">
	  <%= profil[1].capitalize %>
	</span>
	<% end %>
	
	<% recipe.robot.each {|tm| %>
	<span class="tag robot-name">
	  <%= tm %>
	</span>
	<% } %>
      </div>
      
      <div class="recipe-times">
	<% if recipe.times[:active]&.> 0 %>
	<div>
	  <i class="icon icon-preparation-time"></i>
	  <span><%= str_recipe_time(recipe.times[:active]) %></span>
	</div>
	<% end %>
	
	<% if recipe.times[:total]&.> 0 %>
	<div>
	  <i class="icon icon-total-time"></i>
	  <span><%= str_recipe_time(recipe.times[:total]) %></span>
	</div>
	<% end %>
	
	<% if recipe.portion&.> 0 %>
	<div>
	  <i class="icon icon-portion"></i>
	  <span><%= recipe.portion %></span>
	</div>
	<% end %>
      </div>
      
      <div class="recipe-ratings">
	<% if recipe.difficulty %>
	<% ([ 'easy', 'medium', 'advanced' ].index(recipe.difficulty)+1).times {%>
	<i class="icon icon-difficulty"></i>
	<% } %>
	<% end %>
	<% if recipe.difficulty && recipe.price %>
	/
	<% end %>
	<% if recipe.price %>
	<% ([ 'low', 'medium', 'high' ].index(recipe.price)+1).times {%>
	<i class="fas fa-euro-sign"></i>
	<% } %>
	<% end %>
      </div>
      
      <% pict = if pict = Kuiristo::Recipe.best_image(recipe.images)
                then "/picture/#{img_relpath(pict[:sha256].unpack('H*').first)}"
                else "/recipe.svg"
                end
      %>
      <img class="recipe-picture"
	   src="<%= to(pict) %>"/>
    </div>
  </section>


  <script>
    $('.recipe-preview .recipe-picture').click(function() {
      $('html, body').animate({
        scrollTop: $("#recipe-cooking").offset().top
      });
    });
  </script>


  <section class="recipe-cooking" id="recipe-cooking">

    <!-- Ingredients -->
    <section class="recipe-ingredients">
      <h2>
	<span><i class="fas fa-fw fa-shopping-basket"></i> </span>
	Ingrédients
      </h2>
      <dl>
	<% recipe.groups
	         .reject {|name, g| g[:ingredients].nil? }
                 .each   {|name, g| ingredients = g[:ingredients] %>
	<% if name %>
	<dt><%= name %></dt>
	<% end %>
	<dd><ul>
	    <% ingredients.each {|ingredient| %>
	    <li
	      data-id="<%= ingredient.id %>"
	      <% unless ingredient.optional.nil? %>
	      data-optional="<%= ingredient.optional %>"
	      <% end %>
	      <% unless ingredient.quantity.nil? %>
	      data-quantity="<%= ingredient.quantity %>"
	      <% end %>
	      data-unit="<%= ingredient.unit %>"
	      <% if ingredient.optional %>
	      style="font-style: italic;"
	      <% end %>
	      
	      >
	      <%= ingredient.to_s %>
	      <% if ingredient.optional %>
	      <span class="optional"><i class="fas fa-cut"></i></span>
	      <% end %>
	      <span class="preparation"><%= ingredient.preparation %></span>
	    </li>
	    <% } %>
	</ul></dd>
	<% } %>
      </dl>
    </section>
    
    <!-- Steps -->  
    <section class="recipe-steps">
      <h2>
	<span><i class="fas fa-fw fa-list-ol"></i> </span>
	Étapes
      </h2>
      <dl>
	<% recipe.groups.reject {|name, g| g[:steps].nil? }
                        .each   {|name, g| steps = g[:steps] %>
	
	<% if name %>
	<dt><%= name %></dt>
	<% end %>
	<dd><ol>
	    <% steps.to_enum.with_index.each {|step,i| %>
	    <li data-step-index="<%= i+1 %>">
	      <%= html_transform(step.to_html) %>
	    </li>
	    <% } %>
	</ol></dd>  
	<% } %>
      </dl>
    </section>
    
  </section>


  <!-- Informations -->
  <% if !recipe.infos.empty? %>
  <section class="recipe-information">
    <h2>
      <span><i class="fas fa-fw fa-comments"></i> </span>
      Conseils
    </h2>
    <ul>
      <% recipe.infos.each {|info| type = info.type
	 icon, lbl = case type
                 when 'tip'          then [ 'lightbulb-o', 'Astuces'     ]
                 when 'variation'    then [ 'sliders',     'Variantes'   ]
                 when 'background'   then [ 'info',        'Information' ]
                 when 'beverage'     then [ 'glass',       'Boissons'    ]
                 when 'serving_size' then [ 'pie-chart',   'Portions'    ]
                 end

	 %>
      <li class="info-<%= type %>">
	<div class="label">
	  <span><i class="fas fa-fw fa-<%= icon %>"></i> </span><%= lbl %>
	</div>
	<div class="text">
	  <%= html_transform(info.to_html) %>
	</div>
      </li>
      <% } %>
    </ul>
  </section>
  <% end %>


  <!-- Nutrition -->
  <% if !recipe.nutritions.empty? %>
  <section class="recipe-nutrition">
    <h2>
      <span><i class="fas fa-fw fa-bar-chart"></i> </span>
      Informations nutritionnelles
    </h2>
    <div>
      <% recipe.nutritions.each {|o| o = o.to_h
	 quantity    = o.fetch(:quantity   )
	 unit        = o.fetch(:unit       )
         energy      = o.fetch(:energy     ) { nil }
	 protein     = o.fetch(:protein    ) { nil }
	 carb        = o.fetch(:carb       ) { nil }
         fat         = o.fetch(:fat        ) { nil }
	 cholesterol = o.fetch(:cholesterol) { nil }
	 fibre       = o.fetch(:fibre      ) { nil }
	 %>
      <table>
	<thead>
	  <tr><th colspan="3">
	      Pour <%= quantity %>
	      <%= NUTRITION_UNITS[unit.to_sym][ quantity < 2 ? 0 : 1 ] %>
		  </th></tr>
	</thead>
	<tbody>
	  <% if energy %>
	  <tr class="nutrition-energy calory">
	    <th rowspan="2">Energie:</th>
	    <td><%= (energy / 4.184).round %></td>
	    <td>kcal</td>
	  </tr>
	  <tr class="nutrition-energy joule">
	    <td><%= energy.round           %></td>
	    <td>kJ</td>
	  </tr>
	  <% end %>
	  <% if protein %>
	  <tr class="nutrition-protein">
	    <th>Protéines:</th>
	    <td><%= "%.1f" % protein       %></td>
	    <td>g</td>
	  </tr>
	  <% end %>
	  <% if carb %>
	  <tr class="nutrition-carb">
	    <th>Glucides:</th>
	    <td><%= "%.1f" % carb          %></td>
	    <td>g</td>
	  </tr>
	  <% end %>
	  <% if fat %>
	  <tr class="nutrition-fat">
	    <th>Matières grasses:</th>
	    <td><%= "%.1f" % fat           %></td>
	    <td>g</td>
	  </tr>
	  <% end %>
	  <% if cholesterol %>
	  <tr class="nutrition-cholesterol">
	    <th>Cholestérol:</th>
	    <td><%= "%.1f" % cholesterol   %></td>
	    <td>mg</td>
	  </tr>
	  <% end %>
	  <% if fibre %>
	  <tr class="nutrition-fibre">
	    <th>Fibres:</th>
	    <td><%= "%.1f" % fibre         %></td>
	    <td>g</td>
	  </tr>
	  <% end %>
	</tbody>
      </table>
      <% } %>
    </div>
  </section>
  <% end %>

  <footer>
    <!-- Tags -->
    <% if !tags.empty? %>
    <div class="kv recipe-tags">
      <span>Tags:</span>
      <span>
      <% tags.each {|h| h => { id:, group:, name: } %>
      <span class="tag recipe-<%= group || 'unknown' %>"
	    data-id="<%= id %>">
	<%= name %>
      </span>
      <% } %>
      </span>
    </div>
    <% end %>
    
    <!-- Source / Author -->
    <div>
      <% if source = recipe.source && Kuiristo.source(recipe.source) %>
      <div class="kv">
	<span>Source:</span>
	<span>
	  <%= html_transform('<a href="%s">%s</a>' % [
	                       source::URL, source::NAME ]) %>
	</span>
      </div>
      <% end %>
      
      <% if recipe.author %>
      <div class="kv">
	<span>Auteur:</span>
	<span>
	  <%= html_transform(recipe.author.to_html) %>
	</span>
      </div>
      <% end %>
    </div>

    <!-- Origin -->
    <div>
      <% if recipe.origin %>
      <div class="kv">
	<span>Origin:</span>
	<span>
	  <%= html_transform('<a href="%s">%s</a>' % [
	                       recipe.origin, recipe.origin ]) %>
	</span>
      </div>
      <% end %>
    </div>
  </footer>
</article>

<% if !is_crawler? %>
<%   if is_authenticated? %>
<script src="<%= to('/starred.js') %>"></script>
<%     if $config.dig(:web, :editing) && (session['editing'] == 'true') %>
<script src="<%= to('/tagging.js') %>"></script>
<%     end %>
<%   end %>
<script src="<%= to('/shopping-cart.js') %>"></script>
<% end %>
