<%# -*- html -*- %>

<article class="shopping-list">

  <h1 class="title">
    <span>Liste des courses</span>
  </h1>

  <table class="recipes-summary">
    <thead>
      <tr>
	<th>Qté</th>
	<th>Recette</th>
      </tr>
    </thead>
    <tbody>
      <% recipes.each {|name:, count:, source:, id:| %>
      <tr data-recipe="<%= source %>-<%= id %>">
	<td><%= count %></td>
	<td>
	  <a href="<%= to("/recipe/#{recipe_relpath(source, id)}.html") %>">
	    <%=h name %>
	  </a>
	</td>
      </tr>
      <% } %>
    </tbody>
  </table>


  <dl class="ingredients-list">
    <% ingredients.each {|name, shelf| %>
    <dt><%= name || 'Autre' %></dt>
    <dd>
      <ul>
	<% shelf.each_with_index {|ng, i| name, group = ng %>
	<% group.each {|ingredient, quantities, packaging:, id: nil, **| %>
	<li class="<%= (i % 2).zero? ? 'odd' : 'even' %>"
	    <% if id %>
	    data-ingredient-id="<%= id %>"
	    <% end %>
	    >
	  <label class="ingredient-name">
	    <input type="checkbox"
		   <% if id && checked.include?(id) %>
		   checked="checked"
		   <% end %>
		   >
	    <span><%= ingredient.capitalize %></span>
	    <% if packaging %>
	     <span data-packaging="<%= packaging %>">■</span>
	    <% end %>
	  </label>
	  <span class="quantity-list">
	    <% quantities.each {|unit, qty| %>
	    <span class="ingredient-quantity">
	      <%= unit ? "#{qty}\u2009#{unit}" : qty %>
	    </span>
	    <% } %>
	  </span>
	</li>
	<% } %>
	<% } %>
      </ul>
    </dd>
    <% } %>
  </dl>

</article>

<script src="<%= to('/shopping-list.js') %>"></script>
