<%# -*- text -*- %>
Liste des courses

------------------------------------------------------------------------------

Qté  Recette
<% recipes.each {|name:, count:, **o| %>
<%= "%3d  %s" % [ count, name ] %>

<% } %>

------------------------------------------------------------------------------
            
<% ingredients.each {|name, shelf| %>
<%= name || 'Autre' %>

<%= "=" * (name || 'Autre').size %>
<% shelf.each {|_, group| 
     group.each {|ingredient, quantities|
       qtys = quantities.map {|unit, qty|
                  unit ? "#{qty}\u2009#{unit}" : qty }.join(' / ')
       max  = 72 - qtys.size 
       ing  = ingredient.capitalize[0..max]
       dots = '.' * (72 - (ing.size + qtys.size)) %>
<%= '  ' + ingredient.capitalize[0..max] + ' ' + dots + ' ' + qtys %>
<%     } %>
<%   } %>


<% } %>
