/* 
XXX: From thermomix website, need to be redone:
 icon-total-time
 icon-preparation-time
 icon-portion
 icon-difficulty
 icon-lid-closed
 icon-stirring
 icon-dough-mode
 icon-speed
 icon-reverse

XXX: Other are certainly under Flaticon license



==> They all must be replace by icons under SIL type license

*/


@font-face {
	font-family:'cooky';
	src:url(cooky.eot);
	src:url(cooky.eot) format("embedded-opentype"),url(cooky.ttf) format("truetype"),url(cooky.woff) format("woff"),url(cooky.svg) format("svg");
	font-weight:400;
	font-style:normal
}

.icon {
	font-family:'cooky';
	speak:none;
	font-style:normal;
	font-weight:400;
	font-variant:normal;
	text-transform:none;
	line-height:1;
	-webkit-font-smoothing:antialiased;
	-moz-osx-font-smoothing:grayscale;
	display:inline-block;
}
.icon-total-time:before              { content:"\e60d" }
.icon-preparation-time:before        { content:"\e60e" }
.icon-portion:before                 { content:"\e60f" }
.icon-difficulty:before              { content:"\e610" }
.icon-reverse-off:before             { content:"\e611" }
.icon-dough-mode:before              { content:"\e612" }
.icon-reverse:before                 { content:"\e614" }
.icon-stirring:before                { content:"\e615" }
.icon-speed:before                   { content:"\e645" }
.icon-time:before                    { content:"\e646" }
.icon-weight:before                  { content:"\e647" }
.icon-varoma:before                  { content:"\e648" }
.icon-lid-closed:before              { content:"\e649" }
.icon-items-in-use:before            { content:"\e64a" }
.icon-calendar-blank:before          { content:"\e65e" }
.icon-calendar-today-check:before    { content:"\e65f" }
.icon-calendar-today-plus-one:before { content:"\e660" }
.icon-calendar-today-plus-two:before { content:"\e661" }
.icon-calendar-month:before          { content:"\e662" }

.icon-bag:before                     { content:"\e911" }
.icon-baking-dish-with-lid:before    { content:"\e916" }
.icon-jar:before                     { content:"\e918" }
.icon-jar-vegetables:before          { content:"\e919" }
.icon-tajine:before                  { content:"\e91c" }
.icon-tacos:before                   { content:"\e921" }

.icon-puree:before                   { content:"\e929" }
.icon-baking-dish:before             { content:"\e92e" }
.icon-meal-2:before                  { content:"\e930" }


/* OK: License CC0
 */
/* https://pixabay.com/en/sun-weather-summer-heat-1296129/ */
.icon-summer:before                  { content:"\e959" }
/* https://pixabay.com/en/christmas-tree-christmas-pine-1837571/ */
.icon-christmas:before               { content:"\e953" }
/* https://www.svgrepo.com/svg/1169/big-carrot */
.icon-carrot:before                  { content:"\e90d" }
/* https://www.svgrepo.com/svg/118542/cake-slice */
.icon-cake-slice:before              { content:"\e926" }
/* https://www.svgrepo.com/svg/22535/fish-shop */
.icon-fish:before                    { content:"\e905" }
.icon-vegan:before                   { content:"\e933" }
.icon-semi-vegetarian:before         { content:"\e934" }
/* https://www.svgrepo.com/svg/36619/egg-gift */
.icon-easter:before                  { content:"\e954" }
/* https://www.svgrepo.com/svg/403/leaf */
.icon-leaf:before                    { content:"\e955" }
/* https://www.svgrepo.com/svg/31521/flower */
.icon-spring:before                  { content:"\e958" }
/* https://www.svgrepo.com/svg/51537/halloween-evil-pumpkin */
.icon-halloween:before               { content:"\e950" }
/* https://www.svgrepo.com/svg/65912/halloween-candy */
.icon-candy:before                   { content:"\e908" }
/* https://www.svgrepo.com/svg/21725/hot-soup-bowl */
.icon-soup:before                    { content:"\e91e" }
/* https://www.svgrepo.com/svg/9312/fast-food */
.icon-fast-food:before               { content:"\e91f" }
.icon-america:before                 { content:"\e91f" }
/* https://www.svgrepo.com/svg/29281/cookies-symbol-for-interface */
.icon-cookies:before                 { content:"\e910" }
/* https://www.svgrepo.com/svg/67520/ice-cream-on-cone */
.icon-ice-cream:before               { content:"\e913" }
/* https://www.svgrepo.com/svg/137824/steak */
.icon-steak:before                   { content:"\e924" }
/* https://www.svgrepo.com/svg/21301/bread-silhouette-side-view */
.icon-bread:before                   { content:"\e90a" }
/* https://www.svgrepo.com/svg/59038/sushi */
.icon-sushi:before                   { content:"\e900" }
/* https://www.svgrepo.com/svg/157648/rice */
.icon-asia:before                    { content:"\e92b" }
/* https://www.svgrepo.com/svg/140726/spaguetti */
.icon-entree:before                  { content:"\e920" }
/* https://www.svgrepo.com/svg/154246/oversized-wine-glass */
.icon-glass:before                   { content:"\e915" }
/* https://www.svgrepo.com/svg/65844/pasta */
.icon-pasta:before                   { content:"\e91d" }
/* https://www.svgrepo.com/svg/64921/big-croissant */
.icon-croissant:before               { content:"\e906" }
/* https://www.svgrepo.com/svg/49346/italian-pizza-cut-into-slices */
.icon-pizza:before                   { content:"\e902" }
/* https://www.svgrepo.com/svg/95556/honey-jar */
.icon-jar-fruits:before              { content:"\e91a" }
/* https://www.svgrepo.com/svg/5463/hot-chili-pepper-with-flames */
.icon-pepper:before                  { content:"\e90c" }
/* https://www.svgrepo.com/svg/101440/fried-egg */
.icon-egg:before                     { content:"\e903" }
/* https://www.svgrepo.com/svg/19453/roasted-chicken */
.icon-poultry:before                 { content:"\e907" }
/* https://www.svgrepo.com/svg/125107/stew */
.icon-fait-tout-with-lid:before      { content:"\e917" }
.icon-fait-tout:before               { content:"\e92f" }
/* https://www.svgrepo.com/svg/2899/cabbage */
.icon-cabbage:before                 { content:"\e90e" }
/* https://www.svgrepo.com/svg/27562/cupcake */
.icon-cake:before                    { content:"\e909" }
.icon-dessert:before                 { content:"\e909" }
/* https://www.svgrepo.com/svg/161472/pie */
.icon-pie:before                     { content:"\e912" }
/* https://www.svgrepo.com/svg/47681/ear-of-wheat */
.icon-cereal:before                  { content:"\e90b" }
/* https://www.svgrepo.com/svg/132104/cocktail-glass-with-liquor */
.icon-cocktail:before                { content:"\e92d" }
/* https://www.svgrepo.com/svg/55582/bottle-and-glass-of-wine */
.icon-wine-glass:before              { content:"\e91b" }
.icon-france:before                  { content:"\e91b" }
/* https://www.svgrepo.com/svg/172705/bowl-with-sauce-for-sushi */
.icon-tea:before                     { content:"\e927" }
.icon-verrine:before                 { content:"\e932" }
/* https://www.svgrepo.com/svg/157065/guacamole-with-totopos-delicious-hot-spicy-mexican-food */
.icon-dips:before                    { content:"\e92a" }
/*  https://www.svgrepo.com/svg/143385/potatoes */
.icon-potatoes:before                { content:"\e935" }


/* https://www.svgrepo.com/svg/158253/taj-mahal */
.icon-indian:before                  { content:"\e960" }
/* https://www.svgrepo.com/svg/76312/horseman-of-mexico-with-typical-mexican-hat */
.icon-south-america:before           { content:"\e961" }
/* https://www.svgrepo.com/svg/9623/baby-bottle */
.icon-baby-bottle:before             { content:"\e90f" }
/* https://www.svgrepo.com/svg/160062/dish-knife-and-fork */
/* https://www.svgrepo.com/svg/22705/covered-food-tray-on-a-hand-of-hotel-room-service */
.icon-meal:before                    { content:"\e923" }
.icon-meal-served:before             { content:"\e922" }
/* https://www.svgrepo.com/svg/12288/five-kg-bag-with-seeds */
.icon-rice:before                    { content:"\e901" }
/* https://www.svgrepo.com/svg/105468/oil */
.icon-olive-oil:before               { content:"\e928" }
.icon-mediteranean:before            { content:"\e928" }
/* https://www.svgrepo.com/svg/129942/plate-with-cutlery-and-glass-from-top-view */
.icon-food-multi:before              { content:"\e931" }


/* https://www.svgrepo.com/svg/164672/pudding-dessert */
.icon-flan:before                    { content:"\e925" }

/* https://www.svgrepo.com/svg/49334/coconut-trees */
/* https://www.svgrepo.com/svg/73948/coconut-tree-on-an-island */
.icon-antilles:before              { content:"\e962" }

/* https://www.svgrepo.com/svg/22789/autumn-leaf */
.icon-autumn:before              { content:"\e95a"; }

/* https://www.svgrepo.com/svg/10443/snow */
.icon-winter:before              { content:"\e95b"; }


/* https://www.svgrepo.com/svg/78297/cup-of-tea */
/* https://www.svgrepo.com/svg/69057/pan */
/* https://www.svgrepo.com/svg/75062/chef */
.icon-chef:before              { content:"\e948"; }

/* https://www.svgrepo.com/svg/36253/hot-chocolate-cup */
.icon-breakfast:before         { content:"\e93a"; }


/* */
.icon-africa:before                  { content:"\e92c" }

/* https://www.svgrepo.com/svg/106357/food-donation */
.icon-yumi:before                  { content:"\e968"; }


/* https://www.svgrepo.com/svg/62093/tomato */
/* https://www.svgrepo.com/svg/102397/broccoli-vegetable-silhouette */
/* https://www.svgrepo.com/svg/174711/wine-bottle */

